[submodule "node/external-code"]
	path = external/node
	url = ../node.git
[submodule "external/controller"]
	path = external/controller
	url = ../controller.git
[submodule "external/web-backend-go"]
	path = external/web-backend-go
	url = ../web-backend-go.git
