[submodule "node/external-code"]
	path = external/node
	url = https://github.com/VILLASframework/node.git
[submodule "external/controller"]
	path = external/controller
	url = https://github.com/VILLASframework/controller.git
[submodule "external/web-backend-go"]
	path = external/web-backend
	url = https://github.com/VILLASframework/web-backend.git
