#projectname {
	font-size: 200%;
}

#projectlogo img {
	height: 3.5em;
	margin: 0.25em;
}

#institutelogo img {
	height: 3em;
	margin: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
}

asciinema-split > asciinema-player:first-child > div {
	float: left;
}

asciinema-split > asciinema-player > div {
	text-align: left !important;
	margin-right: 1em;
	margin-bottom: 1em;
}

li.footer > span {
	margin-left: 1em;
}

li.footer > span > a {
	text-decoration: underline;
}

li.vcs-edit {
	float: right;
}
